---
import { Image } from "astro:assets";
import Pill from "./pill.astro";

const { title, tags, description, imageUrl, githubUrl, url } = Astro.props;
---

<div class="border-solid border-0.5 border-dark-300 rounded-xl overflow-hidden">
  <div class="">
    <a class="" href={url}>
      <Image class="h-[280px] object-cover" width="1920" height="1080" src={imageUrl} alt="project-thumbnail" />
    </a>
  </div>
  <div class="bg-dark-900 p-3 md:p-5 h-[180px]">
    <div class="flex items-center justify-between">
      <h1 class="text-xl color-white xl:text-3xl">{title}</h1>
      <div>
        {
          githubUrl && (
            <a href={githubUrl}>
              <i class="ri-github-fill ri-xl" />
            </a>
          )
        }
        {
          url && (
            <a href={url}>
              <i class="ri-link ri-xl" />
            </a>
          )
        }
      </div>
    </div>
    <div class="flex gap-2 border-b border-dark-300 py-2">
      {tags.map((tag: string) => <Pill label={tag} />)}
    </div>
    <p class="!color-dark-400 text-xs mt-2 xl:text-lg">{description}</p>
  </div>
</div>
